body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headings{
  margin-top: 100px;
}

.row{
  margin-bottom: 20px;
  width: 100%;
}

.main{
  margin-left: 30px;
}

.col-6 input{
  background-color: lightgrey;
}


.fakeimg{
  width: auto;
  padding: 10px;
  color: white;
  background-color: rgb(56, 54, 54);
}